@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.main-container {
  flex-grow: 1;
}

/* Кнопка */
.button {
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  background-color: #FCFCFC;
  text-align: center;
}

/* Навигация */
.main-header {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

.logo-link {
  width: 137px;
}

.navigation-link {
  margin: 0;
  padding: 0;
  width: 450px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 450px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  font-size: 14px;
}

.navigation-user .phone-link {
  font-size: 16px;
  font-weight: 700;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Карусель */
.ads-top-wrapper,
.ads-bottom-wrapper {
  display: flex;
}

.ads-list-description,
.ads-photos,
.slider-pagination,
.add-social-media-list {
  margin: 0;
  padding: 0;
}

.ads-description {
  width: 470px;
}

.ads-description-inactive {
  display: none;
}

.ads-photos {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.ads-photo-active {
  width: 367px;
}

.ads-photo-inactive {
  height: 150px;
  width: 100px;
}

.ads-photo-inactive img {
  width: 100%;
  height: 100%;
}

.add-social-media-list {
  margin-left: auto;
}

.ads-item-slogan {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.ads-item-description {
  font-size: 18px;
  line-height: 24px;
}

/* Подарки */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 570px;
}

.seaction-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
}

.advantages-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Каталог */
.catalog {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 270px;
}

.catalog-item-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-item-description {
  color: #565C66;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}


/* О нас */
.summary-about-us {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  width: 995;
}

.facts-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1122px;
  justify-content: space-between;
  margin: 0 auto;
}

.about-us-fact {
  width: 505.5px;
  color:#565C66;
}

/* Блог */
.blog {
  line-height: 22px;
  color: #565C66;
  display: flex;
  justify-content: space-between;
}

.blog-item {
  width: 570px;
}

.news {
  line-height: 20px;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2D3440;
}

.article-link {
  background-color: #FCFCFC;
  background: no-repeat url("../images/serving.jpg");
}

.input-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.submit-button {
  background-color: #FF2F64;
  color: #FCFCFC;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Доставка */
.order-info {
  color: #565C66;
  background-color: #FCFCFC;
  /*background: no-repeat url("../images/serving_2.jpg")*/;
  display: flex;
  justify-content: space-evenly;
}

.order-info-wrapper {
  width: 500px;
}

.order input[type="text"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.order-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

/* Контакты */
.contacts {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background: #FCFCFC;
  background-image: url("../images/serving_3.jpg");
}

.address {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440
}

.phone-order {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.phone-schedule {
  font-size: 14px;
  line-height: 20px;
}

/* Подвал */
.main-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-social-media-list,
.company-standarts-list {
  margin: 0;
  padding: 0;
}


.company-standarts-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

.company-standarts-active {
  font-weight: 700;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color:#2D3440;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-item {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color:#2D3440;
}

.breadcrumbs-item-active {
  text-decoration: underline;
}

/* Фильтры поиска */
.catalog-filter label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog-filter input[type="submit"] {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog-filter legend {
  font-size: 14px;
  line-height: 20px;
}

/* Пагинация */
.show-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.pagination-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.button-more-wrapper {
  margin-left:  auto;
}
